/*============================== Menu CSS ==============================
1. Home
2. Master layout home
	2.1. Menu
	2.2. Footer
3. Trang về chúng tôi
	3.1. Section Introduce
	3.2. Section Grown Up
	3.3. Section Finance
	3.4. Section Misson
4. Master layout admin
5. Trang thêm bài viết
6. Trang quản lý danh mục
7. Trang quản lý bài viết
8. Trang liên hệ
9. Trang sửa bài viết
10. Trang chi tiết bài viết
11. Trang danh mục bài viết
20. Animation
======================================================================*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
.container {
	width: 90%;
	margin: 0 auto;
}

/*1. Home*/
#home {
	height: 100vh;
	background-image: url("../images/background/background.jpg");
	display: flex;
	align-items: center;
	position: relative;
	z-index: 1;
}
#home::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	z-index: -1;
}
#home .content {
	padding-left: 50px;
}
#home .content .logo {
	width: 200px;
	height: 200px;
	object-fit: cover;
}
#home .content h1 {
	color: #fff;
	text-transform: uppercase;
	margin: 10px 0 25px;
	font-weight: 500;
}
#home .content h1 span {
	font-weight: bold;
}
#home .content .home_links {
	display: flex;
}
#home .content .home_links a {
	text-align: center;
	margin-right: 50px;
	text-decoration: none;
}
#home .content .home_links a img {
	width: 100px;
}
#home .content .home_links a:hover img {
	animation: shake 1s ease-in-out 1 forwards;
}
#home .content .home_links a h2 {
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	transition: 0s;
}
#home .content .home_links a:hover h2 {
	color: #30336b;
	transition: 0.5s ease-in-out;
}

/* 2. Master layout home */
/* 2.1. Menu */
header {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 99;
}
.menu_pc {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu_pc .logo img {
	width: 100px;
}
.menu_pc .links {
	list-style: none;
	display: flex;
}
.menu_pc .links li {
	margin-left: 10px;
}
.menu_pc .links li a {
	padding: 8px 16px;
	text-decoration: none;
	color: #38ada9;
	border-radius: 25px;
	transition: 0s;
}
.menu_pc .links li a:hover,
.menu_pc .links li.active a {
	color: #fff;
	background: #38ada9;
	transition: 0.3s ease-in-out;
}
/* 2.2. Footer */
footer {
	background-image: url(../images/background/background_footer.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 1;
	margin-top: 150px;
}
footer::before {
	content: "";
	position: absolute;
	width: 210px;
	height: 241px;
	bottom: 0;
	left: 0;
	background: url("../images/background/background_footer_left.png") no-repeat 0
		bottom;
	z-index: -1;
}
footer .block_info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #38ada9;
	border-radius: 10px;
	transform: translateY(-50%);
}
footer .block_info > ul {
	display: flex;
	list-style: none;
}
footer .block_info > ul.info > li {
	padding: 35px 40px;
	color: #fff;
	border-right: 1px solid rgba(255, 255, 255, 0.3);
}
footer .block_info > ul.info > li:last-child {
	border: unset;
}
footer .block_info > ul.info > li i {
	font-size: 20px;
	margin-right: 10px;
}
footer .block_info > ul.social_links li {
	margin-right: 15px;
}
footer .block_info > ul.social_links a {
	color: #38ada9;
	background: #fff;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
footer .block_info > ul.social_links a i {
	font-size: 24px;
}
footer .block_links {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 30px;
}
footer .block_links > div {
	flex-basis: calc(100% / 3);
	color: #fff;
}
footer .block_links > div h2 {
	text-transform: uppercase;
	font-size: 20px;
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
footer .block_links > div h2::before {
	content: "";
	width: 40px;
	height: 2px;
	background: #38ada9;
	position: absolute;
	bottom: 0;
}
footer .block_links > .about_us p {
	color: rgba(255, 255, 255, 0.9);
}
footer .block_links > .menu ul {
	list-style: none;
}
footer .block_links > .menu ul li {
	margin-bottom: 10px;
}
footer .block_links > .menu a {
	color: rgba(255, 255, 255, 0.9);
	text-decoration: none;
}
footer .block_links > .menu a:hover {
	color: #38ada9;
	transition: 0.3s ease-in-out;
}
footer .block_links > .last_news .news_item {
	margin-bottom: 15px;
}
footer .block_links > .last_news .news_item a {
	display: flex;
	text-decoration: none;
}
footer .block_links > .last_news .news_item img {
	width: 75px;
	height: 75px;
	object-fit: cover;
	margin-right: 15px;
}
footer .block_links > .last_news .news_item .content h3 {
	font-size: 15px;
	color: rgba(255, 255, 255, 0.9);
}
footer .block_links > .last_news .news_item .content p {
	color: #38ada9;
}
footer .copyright {
	padding: 20px;
	color: #fff;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	text-align: center;
}
/* 3. Tramg về chúng tôi */
#aboutus h2 {
	text-align: center;
	padding: 100px 0;
	text-transform: uppercase;
	background-image: url("../images/background/background_aboutus.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	font-size: 40px;
}
/* 3.1. Section Introduce */
#aboutus .introduce {
	padding: 100px 0;
}
#aboutus .introduce .container {
	display: flex;
}
#aboutus .introduce .content {
	width: 50%;
	margin-right: 5%;
}
#aboutus .introduce .content h3 {
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 30px;
}
#aboutus .introduce .content h3 span {
	font-weight: 600;
}
#aboutus .introduce .content p {
	text-align: justify;
}
#aboutus .introduce .image {
	width: 45%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#aboutus .introduce .image img {
	width: 300px;
	height: 450px;
	object-fit: cover;
	border: 10px solid #38ada9;
	border-radius: 15px 50px;
}
/* 3.2. Section Grown Up */
#aboutus .grown_up {
	padding: 100px 0;
	background-image: url("../images/background/background_growup.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	z-index: 1;
}
#aboutus .grown_up::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: -1;
}
#aboutus .grown_up h3 {
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	color: #fff;
}
#aboutus .grown_up .grown_content {
	position: relative;
	margin-top: 50px;
	z-index: 1;
}
#aboutus .grown_up .grown_content::after {
	content: "";
	width: 3px;
	height: 100%;
	background: #fff;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
}
#aboutus .grown_up .grown_content .item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}
#aboutus .grown_up .grown_content .item:nth-child(even) {
	flex-direction: row-reverse;
}
#aboutus .grown_up .grown_content .item > div {
	width: 40%;
	display: flex;
	justify-content: space-center;
	align-items: center;
}
#aboutus .grown_up .grown_content .item span {
	width: 100px;
	height: 100px;
	background: #38ada9;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 25px;
	font-weight: 600;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#aboutus .grown_up .grown_content .item > div p {
	width: 100%;
	padding: 20px;
	background: #38ada9;
	border-radius: 15px;
	color: #fff;
	position: relative;
}
#aboutus .grown_up .grown_content .item > div p::before {
	content: "";
	position: absolute;
	left: 100%;
	top: 50%;
	transform: translateY(-50%);
	border: 15px solid;
	border-color: transparent transparent transparent #38ada9;
}
#aboutus .grown_up .grown_content .item:nth-child(even) > div p::before {
	left: unset;
	right: 100%;
	border-color: transparent #38ada9 transparent transparent;
}
#aboutus .grown_up .grown_content .item img {
	width: 100%;
	height: 80%;
	object-fit: cover;
	border: 5px solid #fff;
	border-radius: 75px 15px;
}
/* 3.3. Section Finance */
#aboutus .finance {
	padding: 100px 0;
}
#aboutus .finance h3 {
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
}
#aboutus .finance h3 + p {
	text-align: center;
	width: 80%;
	margin: 15px auto 50px;
}
#aboutus .finance .image {
	display: flex;
	align-items: center;
}
#aboutus .finance .image .left {
	width: calc(75% - 15px);
	margin-right: 15px;
}
#aboutus .finance .image .left img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}
#aboutus .finance .image .right {
	width: 25%;
	align-self: stretch;
}
#aboutus .finance .image .right img {
	height: calc((100% - 15px) / 2);
	width: 100%;
	object-fit: cover;
	display: block;
}
#aboutus .finance .image .right img:first-child {
	margin-bottom: 15px;
}
/* 3.4. Section Misson */
#aboutus .misson .container {
	display: flex;
	align-items: center;
}
#aboutus .misson .card {
	width: 30%;
	margin-right: 5%;
	background: #38ada9;
	padding: 50px 20px;
	border-radius: 5px;
}
#aboutus .misson .card:last-child {
	margin: 0;
}
#aboutus .misson .card img {
	height: 50px;
	margin: 0 auto;
	display: block;
}
#aboutus .misson .card:hover img {
	transform: rotateY(360deg);
	transition: 0.5s ease-in-out;
}
#aboutus .misson .card h3 {
	text-align: center;
	color: #fff;
	margin-top: 20px;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 30px;
}
#aboutus .misson .card h3::before {
	content: "";
	position: absolute;
	bottom: -15px;
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
#aboutus .misson .card p {
	color: #fff;
	text-align: justify;
}
#aboutus .misson .card table {
	width: 100%;
	text-align: center;
	color: #fff;
}
#aboutus .misson .card table td {
	width: 50%;
}
/* 4. Master layout admin */
#admin nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#admin nav a.logo img {
	width: 75px;
}
#admin nav ul.menu {
	display: flex;
	list-style: none;
}
#admin nav ul.menu > li {
	margin-left: 15px;
	position: relative;
}
#admin nav.container ul.menu > li a {
	text-decoration: none;
	color: #38ada9;
	padding: 8px 16px;
	display: block;
	border-radius: 20px;
}
#admin nav.container ul.menu li:hover > a {
	background: #38ada9;
	color: #fff;
}
#admin nav.container ul.menu > li > .menu_2 {
	list-style: none;
	position: absolute;
	width: 300px;
	right: 0;
	top: calc(100% + 20px);
	border-radius: 10px;
	background: #fff;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	display: none;
	padding: 15px;
	border: 1px solid #38ada9;
}
#admin nav.container ul.menu > li:hover > .menu_2 {
	display: block;
}
#admin nav.container ul.menu > li > .menu_2::before {
	content: "";
	position: absolute;
	bottom: 100%;
	right: 30px;
	border: 15px solid;
	border-color: transparent transparent #38ada9 transparent;
}
#admin nav.container ul.menu > li > .menu_2::after {
	content: "";
	width: 90px;
	height: 25px;
	position: absolute;
	right: 0;
	bottom: 100%;
}
/* 5. Thêm bài viết */
#news_add {
	padding: 50px 0;
}
#news_add h2 {
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
}
#news_add form {
	display: flex;
	flex-wrap: wrap;
}
#news_add form .left {
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
#news_add form .left label,
#news_add form .right label,
#news_add form .content label {
	font-weight: 600;
	margin: 20px 0 5px;
	font-size: 20px;
}
#news_add form .left img {
	width: 69%;
	height: 300px;
	object-fit: contain;
	display: block;
	border: 1px solid #ddd;
}
#news_add form .left > div {
	width: 100%;
}
#news_add form .left > div input {
	width: 69%;
}
#news_add form .left > div button {
	width: 30%;
}
#news_add form .right {
	width: 55%;
	margin-left: 5%;
}
#news_add form .right > * {
	display: block;
	width: 100%;
}
#news_add form .right textarea {
	resize: none;
	height: 250px;
}
#news_add form .content,
#news_add form .btn {
	width: 100%;
}
#news_add form .content {
	margin-top: 15px;
}
#news_add form .btn {
	margin-top: 15px;
	text-align: center;
}
#news_add form .btn button {
	padding: 8px 16px;
	border-radius: 5px;
	border: none;
	color: #fff;
	background: #2ecc71;
	cursor: pointer;
}
#news_add form .btn button:hover {
	background: #27ae60;
}
/* 6. Trang quản lý danh mục */
#category {
	padding: 50px 0;
}
#category h2 {
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
#category .add_category {
	margin-bottom: 20px;
}
#category .add_category h3 {
	margin-bottom: 15px;
}
#category .add_category input {
	width: 300px;
}
#category .all_category h3 {
	margin-bottom: 15px;
}
#category {
	padding: 50px 0;
}
#category h2 {
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
#category .add_category {
	margin-bottom: 20px;
}
#category .add_category h3 {
	margin-bottom: 15px;
}
#category .add_category input {
	width: 300px;
}
#category .all_category h3 {
	margin-bottom: 15px;
}
#table_category {
	width: 100%;
}
#table_category,
tr,
td,
th {
	border: 1px solid #666;
	border-collapse: collapse;
}
#table_category td {
	text-align: center;
}
.btn {
	padding: 5px;
	display: inline-block;
	margin: 5px;
}
.btn:hover {
	background: #eee;
}
.btn.edit {
	color: #2ecc71;
}
.btn.delete {
	color: #e74c3c;
}
#edit_category {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 200px;
	transform: translate(-50%, -50%);
	padding: 50px;
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#edit_category.show {
	display: block;
}
#edit_category .content input {
	width: 100%;
}
#edit_category .content button {
	border: none;
	width: 50px;
	height: 20px;
	display: block;
	color: #fff;
	cursor: pointer;
}
#edit_category .content button:nth-of-type(1) {
	background: #2ecc71;
	bottom: 50px;
	right: 120px;
	position: absolute;
}
#edit_category .content button:nth-of-type(2) {
	background: #e74c3c;
	position: absolute;
	bottom: 50px;
	right: 50px;
}
/* 7. Trang quản lý bài viết */
#news h3 {
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
}
#news #table_news {
	width: 100%;
	border: 1px solid #666;
	border-collapse: collapse;
}
#news #table_news .date {
	width: 200px;
}
#news #table_news img {
	width: 75px;
	height: 75px;
	object-fit: contain;
}
#news #table_news td {
	text-align: center;
}
.alert {
	position: fixed;
	right: 10px;
	bottom: 10px;
	animation: fadeOut 3s linear 1 forwards;
}
.alert p {
	background: yellow;
	padding: 10px;
	border-radius: 15px;
	color: #fff;
}
.alert p.success {
	background: #2ecc71;
}
.alert p.error {
	background: #e74c3c;
}

/* 8. Trang liên hệ */
#contact h2 {
	text-align: center;
	padding: 100px 0;
	text-transform: uppercase;
	background-image: url(../images/background/background_contact.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	color: #fff;
	font-size: 40px;
}
#contact .contact_mail {
	padding: 100px 0;
	background-image: url(../images/background/dot-map.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #f7f9fa;
}
#contact .contact_mail .container {
	display: flex;
}
#contact .contact_mail .left {
	width: 30%;
	background: #fff;
	box-shadow: 0px 0px 100px 0px rgba(27, 68, 163, 0.07);
	padding: 20px 50px 30px;
}
#contact .contact_mail .left h3 {
	font-size: 25px;
}
#contact .contact_mail .left .blocks {
	margin: 30px 0;
}
#contact .contact_mail .left .block {
	display: flex;
	align-items: center;
	margin: 20px 0;
}
#contact .contact_mail .left .block .icon {
	width: 20%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
#contact .contact_mail .left .block .icon i {
	font-size: 40px;
	color: #38ada9;
}
#contact .contact_mail .left .block .block_content {
	width: 80%;
}
#contact .contact_mail .left .block .block_content h4 {
	font-size: 17px;
	text-transform: uppercase;
}
#contact .contact_mail .left ul.social_icon {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
#contact .contact_mail .left ul.social_icon li {
	margin: 0 15px;
}
#contact .contact_mail .left ul.social_icon li a {
	display: block;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-size: 25px;
	color: #fff;
	border-radius: 50%;
}
#contact .contact_mail .left ul.social_icon li:first-child a {
	background: #4064ac;
}
#contact .contact_mail .left ul.social_icon li:nth-child(2) a {
	background: linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
}
#contact .contact_mail .left ul.social_icon li:nth-child(3) a {
	background: #f00;
}
#contact .contact_mail .right {
	width: 65%;
	margin-left: 5%;
}
#contact .contact_mail .right span {
	color: #38ada9;
	text-transform: uppercase;
	font-weight: 700;
	position: relative;
}
#contact .contact_mail .right span::after {
	content: "";
	position: absolute;
	left: 100%;
	top: 50%;
	width: 75px;
	transform: translatey(-2px);
	border-bottom: 1px solid;
	margin-left: 10px;
}
#contact .contact_mail .right h3 {
	text-transform: uppercase;
	font-size: 25px;
	margin: 15px 0 20px;
}
#contact .contact_mail .right form {
	display: flex;
	flex-wrap: wrap;
}
#contact .contact_mail .right form input {
	width: calc(50% - 15px);
	margin-bottom: 30px;
	padding: 10px;
}
#contact .contact_mail .right form input:nth-child(odd) {
	margin-right: 30px;
}
#contact .contact_mail .right form textarea {
	width: 100%;
	padding: 10px;
	resize: none;
}
#contact .contact_mail .right form button {
	border: none;
	padding: 12px 24px;
	background: #202426;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 5px;
	margin-top: 30px;
	cursor: pointer;
}
#contact .map iframe {
	width: 100%;
}
/* 9. Sửa bài viết*/
#news_edit {
	padding: 50px 0;
}
#news_edit h2 {
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
}
#news_edit form {
	display: flex;
	flex-wrap: wrap;
}
#news_edit form .left {
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
#news_edit form .left label,
#news_edit form .right label,
#news_edit form .content label {
	font-weight: 600;
	margin: 20px 0 5px;
	font-size: 20px;
}
#news_edit form .left img {
	width: 69%;
	height: 300px;
	object-fit: contain;
	display: block;
	border: 1px solid #ddd;
}
#news_edit form .left > div {
	width: 100%;
}
#news_edit form .left > div input {
	width: 69%;
}
#news_edit form .left > div button {
	width: 30%;
}
#news_edit form .right {
	width: 55%;
	margin-left: 5%;
}
#news_edit form .right > * {
	display: block;
	width: 100%;
}
#news_edit form .right textarea {
	resize: none;
	height: 250px;
}
#news_edit form .content,
#news_edit form .btn {
	width: 100%;
}
#news_edit form .content {
	margin-top: 15px;
}
#news_edit form .btn {
	margin-top: 15px;
	text-align: center;
}
#news_edit form .btn button {
	padding: 8px 16px;
	border-radius: 5px;
	border: none;
	color: #fff;
	background: #2ecc71;
	cursor: pointer;
}
#news_edit form .btn button:hover {
	background: #27ae60;
}
/* 10. Trang chi tiết bài viết*/
#news_detail {
	padding: 50px;
}
#news_detail .container {
	display: flex;
	flex-wrap: wrap;
}
#news_detail h2 {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 30px;
	width: 100%;
}
#news_detail .content {
	width: 68%;
	margin-right: 2%;
}
#news_detail .content img {
	max-width: 80%;
	height: auto !important;
	margin: 0 auto;
	display: block;
}
#news_detail .relative_news {
	width: 30%;
}
#news_detail .relative_news h3 {
	margin-bottom: 20px;
}
#news_detail .relative_news .item {
	display: flex;
	margin-bottom: 15px;
	text-decoration: none;
}
#news_detail .relative_news .item img {
	width: 160px;
	height: 90px;
	object-fit: cover;
	border-radius: 10px;
}
#news_detail .relative_news .item h4 {
	margin-left: 15px;
	font-weight: normal;
	text-transform: uppercase;
	color: #000;
	width: calc(100% - 175px);
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
/* 11. Trang danh mục bài viết */
#news_of_category {
	padding: 50px 0;
}
#news_of_category h2 {
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}
#news_of_category .items {
	display: flex;
	flex-wrap: wrap;
}
#news_of_category .item {
	width: calc(100% / 3);
	padding: 0 10px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	margin-bottom: 25px;
}
#news_of_category .item img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: 15px;
}
/* Login */
#login {
	display: flex;
	align-items: center;
	height: 100vh;
	background-image: url("../images/background/background.jpg");
	background-size: cover;
	align-items: center;
	position: relative;
	z-index: 1;
}
#login::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	z-index: -1;
}
#login .content {
	display: flex;
	flex-direction: column;
	width: 500px;
	margin: auto;
	justify-content: center;
}
#login input,
#login button {
	padding: 12px 24px;
	border: 1px solid #f9f9f9;
	border-radius: 5px;
	outline: none;
}
#login label {
	font-weight: 600;
}
#login button {
	cursor: pointer;
	background: #38ada9;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
}
#login button:hover {
	background: #00b894;
}
/* 20. Animation */
@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}
	25%,
	75% {
		transform: translateX(15px);
	}
	50% {
		transform: translateX(-15px);
	}
}

@keyframes fadeOut {
	0%,
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		pointer-events: none;
	}
}
